# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
gzipped/index.css.gz
gzipped/index.js.gz
gzipped/setupTests.js.gz
gzipped/Assets/pictures/demoPicture1.jpg.gz
gzipped/Assets/pictures/ey-ultra-wide-night-aerial-view-of-downtown-district-in-sofia-bulgaria.jpg.gz
gzipped/Assets/pictures/M24WIIT5HTCKQEZT7R64DVUQWQ.jpg.gz
gzipped/Assets/pictures/plus.png.gz
gzipped/components/AddButton.jsx.gz
gzipped/components/App.jsx.gz
gzipped/components/Header.jsx.gz
gzipped/components/TabForm.jsx.gz
gzipped/components/TrippForm.jsx.gz
gzipped/components/TrippTab.jsx.gz
gzipped/context/Store.js.gz
