html, body { 
margin: 0;
padding: 0;
background: linear-gradient(45deg,#00cdac,#02aab0) no-repeat, repeat center center / cover;
}
/* #root {
  height: 100%;
} */
@import url('https://fonts.googleapis.com/css?family=Roboto|Yeseva+One&display=swap')
